@import url('https://fonts.googleapis.com/css2?family=Glass+Antiqua&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

:root {
    --primary-color: #2c3855;
    --primary-color-dark: #435681;
    --text-dark: #333333;
    --text-light: #767268; 
    --extra-light: #f3f4f6;
    --white: #ffffff;
    --max-width: 1200px; 

}

* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box; 
}

.section__container {
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem; 

}

.section__header {
    font-size: 2rem;
    font-weight: 600; 
    color: var(--extra-light);
    text-align: center; 
}

a {
    text-decoration: none;
}

img{
    width: 100%;
    display: flex; 
}

body {
    font-family: 'Poppins',sans-serif;
    background-color: #16a085;
  }

nav{ 
    max-width: var (--max-width);
    margin: auto; 
    padding: 2rem 1rem; 
    display: flex; 
    align-items: cneter; 
    justify-content: space-between;
}

.nav__logo {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-dark);
}

.nav__links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.link a {
    font-weight: 500;
    color: var(--text-light);
    transition: 0.3;
}

.link a:hover{
    color: var(--primary-color)
}


/* office hours container */


.office-hours-container {
    text-align: center;
    background-color: rgba(26,188,156,0.3);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px; /* Adjust the max-width as needed */
    margin: auto; /* Center the box horizontally */
}


h2 {
    color: #fff;
}

#office-hours {
    margin-top: 20px;
    font-size: 18px;
}


/* *********************************************************  */



/* services */

.services__grid {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }
  
  .services__card {
    overflow: hidden;
    border-radius: 1rem;
    background-color: var(--white);
    box-shadow: 5px 5px 20px white;
  }
  
  .services__content {
    padding: 1rem;
  }
  
  .services__card__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 0.5rem;
  }
  
  .services__card__header h4 {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-dark);
  }
  
  .services__content p {
    color: var(--text-dark);
  }
  

  /* footer */

  @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  color: #d9d9d9;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.content1{
  position: relative;
  margin: 130px auto;
  text-align: center;
  padding: 0 20px;
}
.content1 .text{
  font-size: 2.5rem;
  font-weight: 600;
  color: #16a085;
}
.content1 .p{
  font-size: 2.1875rem;
  font-weight: 600;
  color: #16a085;
}
footer{
  bottom: 0px;
  width: 100%;
  background: #16a085;
}
.main-content{
  display: flex;
}
.main-content .box{
  flex-basis: 50%;
  padding: 10px 20px;
}
.box h2{
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}
.box .content{
  margin: 20px 0 0 0;
  position: relative;
}
.box .content:before{
  position: absolute;
  content: '';
  top: -10px;
  height: 2px;
  width: 100%;
  background: #ffffff;
}
.box .content:after{
  position: absolute;
  content: '';
  height: 2px;
  width: 15%;
  background: #ffffff;
  top: -10px;
}
.left .content p{
  text-align: justify;
}
.left .content .social{
  margin: 20px 0 0 0;
}
.left .content .social a{
  padding: 0 2px;
}
.left .content .social a span{
  height: 40px;
  width: 40px;
  background: #1a1a1a;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}
.left .content .social a span:hover{
  background: #16a085;
}
.center .content .fas{
  font-size: 1.4375rem;
  background: #1a1a1a;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.center .content .fas:hover{
  background: #16a085;
}
.center .content .text{
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
}
.center .content .phone{
  margin: 15px 0;
}
.right form .text{
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: #656565;
}
.right form .msg{
  margin-top: 10px;
}
.right form input, .right form textarea{
  width: 100%;
  font-size: 1.0625rem;
  background: #16a085;
  padding-left: 10px;
  border: 1px solid #656565;
}
.right form input:focus,
.right form textarea:focus{
  outline-color: #3498db;
}
.right form input{
  height: 35px;
}
.right form .btn{
  margin-top: 10px;
}
.right form .btn button{
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background: #f12020;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
}
.right form .btn button:hover{
  background: #000;
}
.bottom center{
  padding: 5px;
  font-size: 0.9375rem;
  background: #16a085;
}
.bottom center span{
  color: #ffffff;
}
.bottom center a{
  color: #000;
  text-decoration: none;
}
.bottom center a:hover{
  text-decoration: underline;
}
@media screen and (max-width: 900px) {
  footer{
    bottom: 0px;
  }
  .main-content{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box{
    margin: 5px 0;
  }
}
    
/* footer container ends  */
  
/* *************************************************************** */
  
  
  @media (width < 900px) {
      .booking__container form {
        grid-template-columns: repeat(1, 1fr);
      }
    
      .popular__grid {
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
      }
    
      .client__grid {
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
      }
    
      .footer__container {
        grid-template-columns: repeat(1, 1fr);
      }
    }
    
    @media (width < 600px) {
      .nav__links {
        display: none;
      }
    
      .header__container {
        padding-bottom: 25rem;
      }
    
      .booking__container {
        flex-direction: column;
        bottom: -25rem;
      }
    
      .booking__container form {
        grid-template-columns: repeat(1, 1fr);
      }
    
      .services__grid {
        grid-template-columns: repeat(1, 1fr);
      }
    
      .client__grid {
        grid-template-columns: repeat(1, 1fr);
      }
    
      .footer__container {
        gap: 2rem;
      }
    }